HTTP_HOST_PORT=5011
HTTPS_HOST_PORT=5001
FINANCEDB="Server=<HOST>;Username=<USERNAME>;Database=<DATABASE>"
ASPNETCORE_ENVIRONMENT="<Production/Development>"
CERTIFICATE_PATH="/root/.aspnet/https/Account_Service.pfx"
CERTIFICATE_PASSWORD="<CERTIFICATE PASSWORD>"